* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #b30000, #ff1a1a);
}

.login-box {

    width:100%;
    max-width:420px;

    background:white;

    padding:40px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}


.login-box h2 {

    margin-bottom: 20px;

    color: #b30000;

}


.login-box input {

    width: 100%;

    padding: 12px;

    margin: 8px 0;

    border: 1px solid #ccc;

    border-radius: 8px;

    outline: none;

    font-size: 16px;

}


.login-box input:focus {

    border-color: #ff1a1a;

}


.login-box button {

    width: 100%;

    padding: 12px;

    margin-top: 10px;

    border: none;

    border-radius: 8px;

    background: #b30000;

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

}


.login-box button:hover {

    background: #ff1a1a;

}


#erro {

    color: red;

    margin-top: 10px;

    font-size: 14px;

}


/* ==========================
   CELULARES
========================== */

@media (max-width: 480px) {

    body {
        padding:20px;
    }


    .login-box {

        width:100%;

        padding:45px 25px;

        border-radius:18px;

    }


    .login-box h2 {

        font-size:30px;

        margin-bottom:30px;

    }


    .login-box input {

        padding:16px;

        font-size:17px;

        margin:12px 0;

        height:55px;

    }


    .login-box button {

        padding:16px;

        font-size:17px;

        margin-top:15px;

        height:55px;

    }

}
